@model AcademyApp.Models.GreetModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
    <div>
        <p>@Model.Greeting</p>
    </div>
</body>
</html>
