@model AcademyApp.Models.TrainingIndex

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="text" placeholder="search for title">
        <input type="submit" value="Search">
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Anchor</th>
            </tr>
           @for (int i = 0; i < Model.Trainings.Count; i++)
           {
               <tr>
                   <td>@Model.Trainings[i].Id</td>
                   <td>@Model.Trainings[i].Title</td>
                   <td>@Model.Trainings[i].Duration</td>
                   <td>@Model.Trainings[i].Anchor</td>
               </tr>
           }
        </table>
    </div>
</body>
</html>
