@model AcademyApp.Models.IndexModel


<h2>@Model.CustomMessage</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium possimus esse officiis quis optio facere quidem totam animi hic dolore.</p>

